:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #5a8dee;
  text-decoration: inherit;
}

a:hover {
  color: #4270c9;
  text-decoration: underline;
}

body {
  margin: 0;
  font-size: 100%;
}

::selection {
  background: #fece00;
  color: #000;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button, input {
  outline: none;
}
